<footer class="accent-background-color">
        <div class="md-toolbar-tools white-text">   
          <div class="md-toolbar-tools white-text">
          <img class="accent-background-color" src="/assets/angular-icon.svg" alt="" style="width: 15%;height:15%;">
          <img class="accent-background-color" src="/assets/nodejs.png" alt="" style="float:right;width:20%;height:20%;">
        </div>
          <h2  style=" text-align: center;">Developed by: Sergio Paniego Blanco</h2>
        </div>
</footer>

