<h2 class="primary-color">Book {{book.title}}</h2>
<div>
<md-input-container>
  <label>Title</label>
  <input mdInput name="TITLE:" [(ngModel)]="book.title" value="title:">
</md-input-container>
</div>
<div>
<md-input-container>
  <label>Description</label>
  <textarea mdInput name="DESCRIPTION:" rows="3" [(ngModel)]="book.description" placeholder="Description"></textarea>
</md-input-container>
</div>
<div>
  <button md-raised-button color="accent" (click)="cancel()">Cancel</button>
	<button md-raised-button color="accent" (click)="save()">Save</button>
</div>
