<h2 class="primary-color" *ngIf="book">Book {{book.title}}</h2>
<div>
Description:<p *ngIf="book">{{book.description}}</p>
</div>
<div class="light-primary-background-color">
  <button md-raised-button color="accent" (click)="remove()">
    <md-icon md-list-icon>delete</md-icon>
    Remove
    </button>
	<button md-raised-button color="accent" (click)="edit()">
    <md-icon md-list-icon>mode_edit</md-icon>
    Edit
    </button>
  <button md-raised-button color="accent" (click)="back()">
    <md-icon md-list-icon>keyboard_arrow_left</md-icon>
    Back
    </button>
</div>

